---
interface Props {
  title: string
  role: string
  img: string
  id: string
}

const { title, role, img, id } = Astro.props
---

<main class={`min-h-screen bg-${id}  grid items-center pt-14`}>
  <div class="container h-full pt-4">
    <a href="/#experience" class="inline-flex items-center">
      <svg class="h-4 mx-2" fill="var(--text)" version="1.1" id="Layer_1" viewBox="0 0 472.615 472.615" xml:space="preserve"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
          id="SVGRepo_iconCarrier"
        >
          <g>
            <g>
              <polygon points="205.783,139.662 205.783,30.525 0,236.308 205.783,442.09 205.783,332.955 472.615,332.955 472.615,139.662 "
              ></polygon>
            </g>
          </g>
        </g>
      </svg>

      <span>Go back</span>
    </a>
    <div class="h-fit my-4">
      <img class="mx-auto h-full object-contain md:max-h-[30svh]" transition:name={`hero-${id}`} src={img} alt="" />
    </div>

    <div>
      <h3 class="text-gradient font-bold text-2xl" transition:name={`title-${id}`}>{role}</h3>
      <ul class="list-disc list-inside">
        <li>Develop <strong>performant</strong>, responsive, and <strong>user-friendly</strong> web applications.</li>
        <li>Write reusable libraries and components for future use.</li>
        <li>Optimize applications performance, size and scalability.</li>
        <li>Review the code of new employees and help them with their onboarding process.</li>
        <li>Migrate subpages and sections from Haml (Ruby) to Nuxt.</li>
      </ul>
    </div>
  </div>
</main>

<style>
  strong {
    @apply text-accent;
  }
</style>
