---
import Navbar from '../components/Navbar.astro'
interface Props {
  title: string
}

const { title } = Astro.props

const titePro = `Alvise | ${title}`
const description = `Alvise Portfolio`
const img = '/bg-1.jpg'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans" />
    <title>Alvise | {title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={titePro} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portfolio-f7ag.onrender.com/" />
    <meta property="og:title" content={titePro} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://portfolio-f7ag.onrender.com/" />
    <meta property="twitter:title" content={titePro} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={img} />
    <!--  <link rel="preload" href="https://prod.spline.design/d4fCm8hYmfCpWPoo/scene.splinecode" as="fetch" /> -->
    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<script></script>

<style is:global lang="scss">
  :root {
    --accent: 136, 58, 234;
    --accent-light: #ebe8e4;
    --accent-dark: #fefa23;
    --azul: #1f282d;
    --color-font: #ebe8e4;
    --accent-gradient: linear-gradient(187deg, rgba(31, 40, 45, 1) 0%, rgba(227, 104, 38, 1) 80%);
    --short-gradient: linear-gradient(20deg, rgb(219, 219, 219) 0%, rgba(227, 104, 38, 1) 60%);
  }
  html {
    font-family: 'Work Sans', system-ui, sans-serif;
    background: #131313;
    background-size: 224px;
    color: #ebe8e4;
    font-size: 20px;
  }
  .text-gradient {
    width: fit-content;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.short {
      font-weight: 600;
      background: var(--short-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  section {
    @apply h-screen;
    line-height: 1.6;
    position: relative;
  }
  img.bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    //object-position: 0% 100%;
    transform: scaleX(-1);
    height: 100%;
    width: 100%;
    z-index: -5;
  }

  h2,
  h3,
  h4,
  p,
  span {
    position: relative;
    z-index: 10;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
